* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 70px;
  width: 100%;
  background-color: #e6e6e6;
  line-height: 70px;
  text-align: center;
}

main {
  margin: 50px auto;
  width: 100%;
  font-size: 24px;
  text-align: center;
}

main h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main ul li {
  padding: 5px 0;
}

main table {
  margin: auto;
  padding: 20px 10px;
  width: 45%;
  background-color: #fcf4f4;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px #e3dede;
  text-align: center;
}

main table thead {
  font-weight: bold;
  font-size: 28px;
}

main .fa-pen {
  padding: 10px;
  color: #14c619;
  border-radius: 50%;
}

main .fa-pen:hover {
  background-color: #e1e686;
}

main .fa-trash-alt {
  padding: 10px;
  color: #902508;
  border-radius: 50%;
}

main .fa-trash-alt:hover {
  background-color: #e1e686;
}

main .form-edit {
  width: 30%;
  margin: auto;
  padding: 20px 10px;
  background-color: #fcf4f4;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px #e3dede;
}

main .form-edit .form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin: 10px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #e6e6e6;
  line-height: 70px;
  text-align: center;
}

